<div class="container">
  <div class="notice-box">
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="title">New Post</h4>
      </div>
      <div class="panel-body">
        <form action="" id="new-post" class="form-stacked" remote="true">
          <div class="form-group input-group">
            <span class="input-group-addon" id="basic-addon1">@</span>
            <input type="text" class="form-control" id="author" name="author" aria-describedby="basic-addon1" placeholder="Author">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="location" name="location" placeholder="Location">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="topic" name="topic" placeholder="Topic">
          </div>
          <div class="form-group">
            <textarea class="form-control" id="message" name="message" placeholder="Message"></textarea>
          </div>
          <div class="actions">
            <submit class="post-submit btn btn-info">Submit</submit>
          </div>
        </form>
      </div>
    </div>
    <!-- <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="title">Remove Post</h4>
      </div>
      <div class="panel-body">
        <form action="" id="delete-user" class="form-stacked" remote="true">
          <div class="form-group">
            <label>User ID</label><br>
            <input type="number" class="form-control required" id="user-key" name="key">
          </div>
          <div class="actions">
            <submit class="user-delete btn btn-info">Delete</submit>
          </div>
        </form>
      </div>
    </div> -->
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <table class="table table-hover t-style">
        <thead>
          <tr class="table-head">
            <th class="col-md-2 t-head"><h4 class="title">ID</h4></th>
            <th class="col-md-2 t-head"><h4 class="title">Name</h4></th>
            <th class="col-md-2 t-head"><h4 class="title">Age</h4></th>
            <th class="col-md-2 t-head"><h4 class="title">Date of Birth</h4></th>
            <th class="col-md-2 t-head"><h4 class="title">Height</h4></th>
          </tr>
        </thead>
        <tbody id="user-list"></tbody>
        <tfoot>
          <td><!-- <button class="sync-database btn btn-info">Sync Databases</button> --></td>
          <td><!-- <button class="user-clear btn btn-info">Clear All Users</button> --></td>
          <td></td>
          <td></td>
          <td></td>
        </tfoot>
      </table>
    </div>
  </div>
</div>