<div class="container">
  <div class="notice-box">
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="title">New Post</h4>
      </div>
      <div class="panel-body">
        <form action="" id="new-post" class="form-stacked" remote="true">
          <div class="form-group input-group">
            <span class="input-group-addon" id="basic-addon1">@</span>
            <input type="text" class="form-control" id="author" name="author" aria-describedby="basic-addon1" placeholder="Author">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="location" name="location" placeholder="Location">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="topic" name="topic" placeholder="Topic">
          </div>
          <div class="form-group">
            <textarea class="form-control" id="message" name="message" placeholder="Message"></textarea>
          </div>
          <div class="actions">
            <submit class="post-submit btn btn-info">Submit</submit>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-9" id="post-container">
  </div>
</div>