<!DOCTYPE html>
<!-- <html lang="en" manifest="/application.manifest"> -->
<html>
<head>
  <title>OfflineWebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- <link rel="stylesheet" type="text/css" href="/assets/application.css">
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap.min.css">
  <script type="text/javascript" src="/assets/jquery.js"></script>
  <script type="text/javascript" src="/assets/jquery_ujs.js"></script>
  <script type="text/javascript" src="/assets/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/main.js"></script>
  <script type="text/javascript" src="/assets/application.js"></script> -->
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body> 
</html>
