<!DOCTYPE html>
<html lang="en" manifest="/application.manifest">
<head>
  <title>OfflineWebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<footer>
  <div class="footer-container navbar-fixed-bottom">
    <div class="social">
      <p class="footer-text">A StandardCode product</p>
      <a href="http://standardco.de/" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 800 800"><path d="M759.509 377.191l-161.371-299.296c-6.741-12.498-23.872-22.895-38.073-22.895h-320.13c-14.199 0-31.332 10.418-38.072 22.917l-161.372 299.403c-6.74 12.498-6.74 32.991 0 45.488l161.372 299.297c6.74 12.497 23.873 22.895 38.072 22.895h320.131c14.2 0 31.332-10.419 38.072-22.916l161.371-299.404c6.74-12.497 6.74-32.991 0-45.489zm-472.296 317.358l-19.795-10.407-19.791 10.407 3.783-22.04-16.019-15.612 22.131-3.214 9.895-20.057 9.899 20.057 22.129 3.214-16.01 15.612 3.778 22.04zm57.719-208.225c-11.104 0-20.31-2.749-27.611-8.253-6.104-4.501-10.931-10.629-14.48-18.382-3.554-7.754-5.627-16.63-6.228-26.637l27.01-1.951c1.2 10.962 4.101 18.905 8.703 23.832 3.401 3.722 7.301 5.482 11.706 5.282 6.201-.202 11.152-3.255 14.856-9.164 1.897-2.902 2.85-7.059 2.85-12.466 0-7.81-3.551-15.57-10.655-23.279-5.601-5.308-14.006-13.267-25.208-23.882-9.405-9.11-16.056-17.27-19.959-24.481-4.201-8.109-6.303-16.922-6.303-26.434 0-17.123 5.752-30.09 17.258-38.901 7.102-5.305 15.906-7.959 26.41-7.959 10.103 0 18.758 2.25 25.959 6.752 5.602 3.502 10.13 8.403 13.581 14.706 3.451 6.304 5.525 13.557 6.227 21.758l-27.159 4.952c-.804-7.702-3.001-13.706-6.603-18.008-2.604-3.1-6.354-4.652-11.255-4.652-5.203 0-9.155 2.305-11.855 6.904-2.202 3.702-3.301 8.305-3.301 13.807 0 8.604 3.7 17.357 11.104 26.261 2.798 3.398 7.002 7.401 12.604 12.003 6.603 5.504 10.956 9.356 13.055 11.554 7 7.005 12.404 13.907 16.208 20.709 1.8 3.203 3.249 6.15 4.351 8.854 2.7 6.703 4.1 12.704 4.201 18.008.199 13.106-3.203 24.308-10.203 33.611-4.604 6.304-11.106 10.755-19.508 13.354-4.503 1.403-9.754 2.102-15.755 2.102zm74.865 208.225l-19.798-10.407-19.79 10.407 3.779-22.04-16.011-15.612 22.126-3.214 9.896-20.057 9.9 20.057 22.128 3.214-16.009 15.612 3.779 22.04zm38.728-208.073c-12.51 0-23.135-4.377-31.889-13.132-8.756-8.751-13.131-19.331-13.131-31.737v-102.643c0-12.503 4.4-23.13 13.205-31.886 8.803-8.751 19.408-13.13 31.814-13.13 12.504 0 23.107 4.406 31.811 13.206 8.701 8.805 13.057 19.41 13.057 31.811v21.459h-29.414v-22.057c0-4.503-1.602-8.352-4.803-11.555-3.203-3.201-7.051-4.803-11.553-4.803s-8.33 1.602-11.479 4.803c-3.152 3.203-4.73 7.051-4.73 11.555v102.938c0 4.504 1.578 8.331 4.73 11.483 3.148 3.151 6.977 4.725 11.479 4.725s8.35-1.573 11.553-4.725c3.201-3.152 4.803-6.979 4.803-11.483v-25.958h29.414v26.26c0 12.507-4.406 23.109-13.207 31.813-8.804 8.703-19.359 13.056-31.66 13.056zm90.072 186.033l3.777 22.04-19.792-10.407-19.796 10.407 3.789-22.04-16.02-15.612 22.128-3.214 9.898-20.057 9.9 20.057 22.126 3.214-16.01 15.612z"/></svg>
</a>

    </div>
  </div>
</footer>
</div>
</body> 
</html>
